__pycache__/
*.py[cod]
*$py.class

*.so
car_marketplace.backup

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
ENV/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt


.env
.env.local
.env.*
instance/
secrets.toml


.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.nosenv/
.nosetests/
nosetests.xml
coverage.xml
*.cover
.flake8
.ruffe_cache/

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

.ipynb_checkpoints

.idea/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
